;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[reagent "0.9.0-rc4" :exclusions [cljsjs/react cljsjs/react-dom]]
  [proto-repl "0.3.1"]
  [data-frisk-reagent "0.4.5"]
  [org.clojure/test.check "1.0.0"]
  [com.rpl/specter "1.1.3"]
  [devcards "0.2.5"]]

 :nrepl {:port 9000}

 :builds
 {:app
  {:target :browser
   :modules {:main {:init-fn me.stasiak.starter.core/init}}
   :devtools {:before-load me.stasiak.starter.core/stop
              :after-load me.stasiak.starter.core/start
              :http-root "public"
              :http-port 8020}}
  :devcards
  {:asset-path "/js"
   :modules {:main {:init-fn me.stasiak.starter.devcards.devcards/main}}
   :compiler-options {:devcards true}
   :output-dir "public/js"
   :target :browser}}}
